.vs/
.VSCodeCounter/
bin/
obj/
.vscode/

# 一些无关这个项目的实验项目
# 不屏蔽了, vs会叫找不到项目
#EmptyTest/

# 单元测试结果
TestResults/

# 过去的不完整项目, 该项目仍然可以在commit历史中找到
Legacy.QBotDotnet.WebSocket

# 我也不知道这是干啥的,与项目无关就屏蔽了
Visual Studio 2022/

# 让ide闭嘴的一些设置, 当你删除这个文件你可能会得到一大堆ide的~吐槽~
#.editorconfig
#2022-11-22 10:02:23 但是为什么我要屏蔽这个文件
#这我想不通了,所以把它加了回来

#方便导航的一些快捷方式
#当然我知道在你的电脑上不可能生效
#所以我屏蔽了
*.lnk

#放go-cqhttp的
Working/*